
<!DOCTYPE html>
    <html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{ wp_head() }}
    </head>
    <body class="body {{ classes }}">
    <div class="container">
        <header>
            <nav>
                <div class="row gy-4  justify-content-center justify-content-md-between header-row">
                    <div class="col-12 d-flex align-items-center justify-content-end d-md-none">
                        <button class="burger" type="button"> <span></span> </button>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 align-self-xl-end header-logo">
                        <a class="logo" href="{{ logo_link }}"><img src="{{ logo.url }}" alt="{{ logo.alt }}"></a>
                    </div>
                    <div class="col-12 col-sm-8 col-xl-3">
                        <h1 class="title">{{ slogan }}</h1>
                        <form class="search-form" name="search-form" id="search-form" data-parameter="{{ get_parameter_search }}">
                            <input class="search-input" type="text" id="_input_search" value="{{ get_search_value }}">
                            <button class="btn-search" type="submit"></button>
                        </form>
                    </div>
                    <div class="col col-md-2 col-xl-auto d-flex flex-column justify-content-between d-none d-md-flex" data-mobile>
                        <a class="callback" href="#" data-bs-toggle="modal" data-bs-target="#callback">Обратный звонок</a>
                        <div class="cities">
                            <p class="your-city">Ваш город</p>
                            <a href="#" class="city header__location__current">{{ current_city }}</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-xl-3 order-1 order-md-0 d-none d-md-block  d-xl-flex flex-column justify-content-between header-contacts" data-mobile>
                        <a class="tel" href="tel:{{ phone }}">{{ phone }}</a>
                        <a class="mail" href="mailto:{{ email }}">{{ email }}</a>
                        <p class="adress">{{ address }}</p>
                    </div>
                    <div class="col col-md-3 col-xl-auto d-none d-md-flex d-flex flex-column align-items-end justify-content-between user-menu" data-mobile>
{#                        <div class="login">#}
{#                            <a href="">Вход</a>#}
{#                            <span class="separator"></span>#}
{#                            <a href="">Регистрация</a>#}
{#                        </div>#}
                        <div class="selected d-flex justify-content-between">
{#                            <a class="d-flex align-items-center justify-content-center favorite" href=""><img src="{{ path }}img/favorite.svg" alt="favorite"><span>1</span></a>#}
                            <a class="d-flex align-items-center justify-content-center cart" href="{{ cart_url }}">
                                <img src="{{ basket.icon.url }}" alt="cart"><span class="_basket_amount">{{ cart_count_items }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block" data-mobile>
                    <ul class="row justify-content-md-between menu-list">
                        {% for item in menu %}
                            {% if item.items %}
                            <li class="col-12 col-md d-md-flex align-items-center justify-content-center menu-item item-catalog">
                                <a class="menu-link" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
                                <ul class="catalog-list">

                                    {% for item_item in item.items %}
                                        <li class="catalog-items">
                                        <a class="catalog-link" href="{{ item_item.term.link }}">{{ item_item.term.title }}</a>
                                        {% if item_item.children %}
                                        <ul class="subcatalog-list" >
                                            {% for item_item_item in item_item.children %}
                                            <li class="catalog-items">
                                                <a class="catalog-link" href="{{ item_item_item.term.link }}">{{ item_item_item.term.title }}</a>
                                                {% if item_item_item.children %}
                                                <ul class="subcatalog-list">
                                                    {% for item_item_item_item in item_item_item.children  %}
                                                        <li class="catalog-item">
                                                            <a class="catalog-link" href="{{ item_item_item_item.term.link }}">{{ item_item_item_item.term.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}

                                </ul>
                            </li>
                            {% else %}
                            <li class="col-12 col-md d-flex align-items-center justify-content-center menu-item">
                                <a class="menu-link" class="menu-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </nav>

            <div class="location_popup">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="section-title">Выберите город:</div>
                        </div>
                        <div class="col-auto">
                            <button class="location_popup__close">
                                X
                            </button>
                        </div>
                    </div>

                    <div class="location_popup__list">
                        {% for letter,items in cities %}
                            <div class="location_popup__itm">
                                <h4 class="location_popup__col_title">{{ letter }}</h4>
                                <ul>
                                    {% for city in items %}
                                        <li><a href="{{ city.link }}" class="change_city">{{ city.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </header>
        <main class="main">